<div id="<%= dom_id patient_card %>" class="card bg-light mt-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Name:</strong> <%= patient_card.department_id %>
    </p>

    <p class="card-text">
      <strong>Department:</strong> <%= patient_card.doctor_id %>
    </p>

    <p class="card-text">
      <strong>Specialization:</strong> <%= patient_card.patient_id %>
    </p>
  </div>
</div>