<div id="<%= dom_id specialization %>" class="card bg-light mt-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Name:</strong> <%= specialization.name %>
    </p>

  </div>
</div>
