<div id="<%= dom_id department %>" class="card bg-light mt-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Name:</strong> <%= department.name %>
    </p>

    <p class="card-text">
      <strong>Address:</strong> <%= department.address %>
    </p>

    <p class="card-text">
      <strong>Founding date:</strong> <%= department.founding_date %>
    </p>
  </div>
</div>
