<div id="<%= dom_id(patient) %>" class="card bg-light mt-3">
  <div class="card-body">
    <p class="card-text">
      <strong>First name:</strong> <%= patient.first_name %>
    </p>

    <p class="card-text">
      <strong>Last name:</strong> <%= patient.last_name %>
    </p>

    <p class="card-text">
      <strong>Date of birth:</strong> <%= patient.date_of_birth %>
    </p>
  </div>
</div>
