<div id="<%= dom_id doctor %>" class="card bg-light mt-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Name:</strong> <%= doctor.name %>
    </p>

    <p class="card-text">
      <strong>Department:</strong> <%= doctor.department_id %>
    </p>

    <p class="card-text">
      <strong>Specialization:</strong> <%= doctor.specialization_id %>
    </p>
  </div>
</div>