<%= render 'shared/header' %>

<div class="container">
  <div class="card mx-auto mt-5" style="max-width: 400px;">
    <div class="card-header">
      <h5 class="card-title text-center">New doctor</h5>
    </div>
    <%= render "form", doctor: @doctor %>
    <div>
    <div class="card-footer text-center">
    <%= link_to "Back to doctors", doctors_path, class: 'btn btn-secondary' %>
  </div>
  </div>
  </div>
</div>
